/* Default Starter Code */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    /* reset default style */
    margin: 0;
    box-sizing: border-box;
    /* all element border-box */
}

/* .container and .row is a common combination */
.container {
    border: 4px solid lightgray;
    padding: 80px 24px 80px 24px; /* watch out 1*/
}

.row {
    width: 80%;
    max-width: 600px;
    margin: 0 auto -24px auto; /* watch out 1*/
    display: flex;
    justify-content: space-between;
}

.box {
    border: 4px solid lightgray;
    margin-bottom: 24px; /* watch out 1*/
}

.box-small {
    height: 100px;
}

.box-large {
    width: 45%;
}

.box-wrapper {
    width: 45%;
    /* optional */
    /* display: flex;
    flex-direction: column; */
}

.tiny-wrapper {
    display: flex;
    justify-content: space-between;
}

.box-tiny {
    width: 30%;
    height: 100px;
}

.hide {
    border: none;
}